*{font-family:Arial, Helvetica, sans-serif}
body, div, ul{margin:0;padding:0}
body{padding-top:60px}
a{text-decoration:none}
.header{position:fixed;top:0;left:0;right:0;background:#fff;display:flex;justify-content:space-between;align-items:center;box-shadow:0 0 10px rgba(0, 0, 0, 0.2)}
.img_logo{width:150px;padding:15px 15px}
.header-right{padding-right:0}
.header-right a{float:left;margin-right:20px;padding:10px;color:#000;font-size:17px}
.header-right a:hover{color:#fff;background:#55BC79}
.header-right a.active{color:#fff;background:#55BC79}
.search-table{width:100%}
.container{margin:auto;max-width:1340px;padding:0 15px}
h1{}
.d-flex{display:flex}
.align-items-center{align-items:center}
.justify-content-between{justify-content:space-between}
.search-form{background:#eee;padding:15px;display:flex;justify-content:space-between}
.search-form input[type="text"]{border:1px solid #ddd;width:220px;height:40px;padding:0 15px}
.search-form button[type="submit"]{color: #fff;background: #55BC79;border:none;width:60px;cursor:pointer}
.filter-section label{font-size:15px;padding-right:15px}
.filter-section select{font-size:14px;border:1px solid #ddd;width:220px;height:40px;padding:0 8px}
table{width:100%;border-collapse:collapse}
.data-table{margin-top:30px;font-size:14px;border:1px solid #ddd}
.data-table td, .data-table th{border:1px solid #ddd;padding:5px 5px;height:30px}
.table-head{background:#ddd;}
.active-user{background-color: #d4edda;color:#155724}
.unactive-user{background-color: #f8d7da;color:#721c24}
.heading-right{font-size:14px}
.heading-right .unactive-user{padding:10px}
.heading-right .active-user{padding:10px;margin-left:10px}

